<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <!--targetRuntime默认值为MyBatis3, MyBatis3Simple表示不生成和Example查询相关的类
    flat:该模型为每一张表只生成一个实体类。
    -->
    <context id="Mybatis3Context" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="javaFileEncoding" value="UTF-8"/>
        <!--处理数据库关键字-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--配置不生成注释-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <!--<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>

        </plugin>-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/weixin?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;nullCatalogMeansCurrent=true"
                        userId="root"
                        password="root">
        </jdbcConnection>
        <!--
        该属性可以控制是否强制DECIMAL和NUMERIC类型的字段转换为Java类型的java.math.BigDecimal,默认值为false，一般不需要配置。
        默认情况下的转换规则为：
        1.如果精度>0或者长度>18，就会使用java.math.BigDecimal
        2.如果精度=0并且10<=长度<=18，就会使用java.lang.Long
        3.如果精度=0并且5<=长度<=9，就会使用java.lang.Integer
        4.如果精度=0并且长度<5，就会使用java.lang.Short
        -->
        <!--<javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>-->

        <!--配置实体类生成目录-->
        <javaModelGenerator targetPackage="com.zhuhai.pojo" targetProject="src/main/java">
            <!--<property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>-->
        </javaModelGenerator>

        <!--配置mapper xml生成目录-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <!--<property name="enableSubPackages" value="true"/>-->
        </sqlMapGenerator>
        <!--配置mapper接口生成目录-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zhuhai.mapper" targetProject="src/main/java">
            <!--<property name="enableSubPackages" value="true"/>-->
        </javaClientGenerator>

       <!-- <table tableName="Customer" domainObjectName="Customer" enableCountByExample="false"
               enableDeleteByExample="false" enableUpdateByExample="false" enableSelectByExample="false">
        </table>-->
        <table tableName="sys_user" enableCountByExample="false" enableSelectByExample="false" enableDeleteByExample="false" enableUpdateByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="JDBC"/>
        </table>

    </context>
</generatorConfiguration>