<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--打印到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--日志过滤器-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -- %msg%n</pattern>
        </encoder>
    </appender>
    <!--写入到文件中-->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>D:/logs/spring.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -- %msg%n</pattern>
        </encoder>
    </appender>
    <!--按时间分类文件-->
    <appender name="rolling-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/logs/spring-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--保留日志文件的最大数量-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 读取 application.properties配置文件中spring.application.name 属性来生成日志文件名
	scope：作用域
	name：在 logback-spring.xml 使用的键
	source：application.properties 文件中的键
	defaultValue：默认值
 -->
    <!--<springProperty scope="context" name="logName" source="spring.application.name" defaultValue="myapp.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${logName}.log</file>
    </appender>-->

    <!--开发环境下生效-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
    <!--测试环境生效-->
    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="file"/>
        </root>
    </springProfile>
    <!--生产环境生效-->
    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="rolling-file"/>
        </root>
    </springProfile>
    <!--<root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="rolling-file"/>
    </root>-->

</configuration>