<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>密码</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody th:remove="all-but-first">
        <tr th:each="user:${userList}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.userName}">张三</td>
            <td th:text="${user.password}">xxxxx</td>
            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-03-01 12:00:30</td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>xxxxx</td>
            <td>2019-03-01 12:00:30</td>
        </tr>
    </tbody>

</table>


</body>
</html>